<div class="container">
  <div>
    <div class="row">
      <div class="col-5">
        <div class="about-presentation-container">
          <p class="about-presentation">
            Currently in apprenticeship at Visiativ as a web developer, I'm
            about coding and learning lot of stuff related to programming since
            two years from now. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Esse labore delectus non quam deserunt accusantium
            commodi eaque, repudiandae ipsum doloremque dolores harum molestias
            explicabo, quae ipsam! Minima fugit dignissimos quae veritatis
            veniam enim? Laborum quo, tenetur ullam consequuntur ex ipsa impedit
            incidunt, eveniet perferendis esse rem illum accusantium eaque
            tempore.
          </p>
        </div>
      </div>
      <div class="col-7">
        <div class="col-12 picture-container">
          <img [src]="myPicture" alt="" />
        </div>
        <div class="col-12">hi</div>
      </div>
    </div>
  </div>
</div>
